{% extends 'base.html.twig' %}

{% block title %}Chose your fighter{% endblock %}

{% block body %}
<style>
    *{font: 18px/1.5 sans-serif; margin:0; padding:0;}
    body {display:flex; height:100%;flex-direction:column; align-items:center; background: linear-gradient(white, 85% ,#bf0000); }
    h1 {font-weight:bold; font-size:2em; width:fit-content;}
    h2 {font-size:1.5em; padding:0; margin-bottom:0;width:fit-content;}
    h3 {font-size:1.25em; margin-top:0.5vh; margin-bottom:0.5vh;width:fit-content; }

    .header {display: flex; justify-content:space-between; align-items:center; width:100%; margin:0; padding:0; box-shadow: 0px 0px 5px black;  }
    .header button {margin-left:50%; padding:5px; padding-left:10px; padding-right:10px; background-color:#990000; color:white; border:none; border-radius:0.5em}
    .header button:hover { background-color:#690000;}

    button {background: none; border: none; display: flex; align-items: center; justify-content: space-between;}
    button:hover {cursor:pointer}
    
    .chose-character { width: 95vw; font: 18px/1.5 sans-serif; display: flex; align-items: center; flex-direction:column; }
    .chose-character code { background: #F5F5F5; padding: 2px 6px; }

    .fighterCard { display:flex; background:white; padding:5px; justify-content:space-between; align-items:center; border: 1px solid black; border-radius:0.5em;}
    .imgCharacterChoice { height: auto; width:35%;}
    .imgSerie { height: auto; width:25%; }
    #gridCharacterChoice { display: grid; grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw; grid-gap: 1vw;}
    
    form[name="character_choice_search"]{display: flex; align-items: center; }
    form[name="character_choice_search"] div{padding: 1vw;}
    form[name="character_choice_search"] div label{margin-right: 0.5vw;}
    form[name="character_choice_search"] input[type="submit"] {padding:4px; background-color:#990000; color:white; border:none; border-radius:0.5em}
    form[name="character_choice_search"] input[type="submit"]:hover { background-color:#690000;}

    .submit{padding:5px; padding-left:10px; padding-right:10px; background-color:#990000; color:white; border:none; border-radius:0.5em}
    .submit:hover {cursor:pointer; background-color:#690000;}


</style>


<div class="header"> 
    <a href="{{ path('app_character_cp') }}"><button>Retour</button></a>
    <h1>SSBU Pool</h1>
    <div class="Placeholder"></div>

</div>
<div class="chose-character">
    <h1>Chose your fighter</h1>
    <div class="search-form">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.serie) }}
            <input type="submit" value="Send">
        {{ form_end(form) }}
    </div>
    <div id="gridCharacterChoice">
    {% for character_choice in character_choices %}
        <form class="fighterCard" action="{{ path('app_create_character_cp', {id: character_choice.getId()}) }}" method="POST">
            <input type="hidden" name="id" value="{{ character_choice.getId() }}">
            <button type="submit">
                <img class="imgCharacterChoice" src="fighters/250_{{ character_choice.getImagePath() }}" />
                <p>{{ character_choice.getName() }}</p>
                <img class="imgSerie" src="serie/{{ character_choice.getSerie().getImagePath() }}" />
            </button>
        </form>

    {% endfor %}
    {% if is_granted(constant('App\\Security\\Voter\\CharacterChoiceVoter::EDIT'), character_choices[0]) %}
    <a class="fighterCard" href="{{ path("app_create_character") }}"><img class="imgCharacterChoice" src="plus.webp"/>Add a character</a>
    {% endif %}
    </div>


</div>
{% endblock %}
